/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    gap:30px;
    width:100%;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap:35px;
}

h1{
    margin:0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.subSection-title{
    font-size: 18px;
    font-weight: 700;
    margin:0;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** navigation ***********/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding: 0 50px;
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.logo {
    width: 61.9px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 68px;
    font-size: 16px;
    font-weight: 400;
    height:100%;
}

.nav-link{
    padding-top: 20px;
}

.nav-link:hover{
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}

/****** searchAndFilter ***********/

.searchAndFilter{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 49px; 
}

.fa-location-dot{
    color: black;
}

.fa-magnifying-glass{
    color: white;
    font-size: 17px;
    display: none;
}

.searchBar-iconBox{
    background-color: var(--main-bg-color);
    height: inherit;
    width: 50px;
    border: 2px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: 100%;
}

.searchBar label{
    display: none;
}

.searchBar input{
    border-right: 0;
    border-left: 0;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    font-weight: 600;
    color: black;
    text-align: center;
}

.searchBar-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;    
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    font-weight: 600;
    padding: 0px 16px 0px 16px;
    cursor: pointer;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.filter-button--text{
    font-size: 16px;
    font-weight: 700;
    margin:0;
}

.filter-buttonZone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.filter-button{
    padding: 4px 16px 4px 16px;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    cursor: pointer;
}

.filter-button:hover{
    background-color: var(--filter-bg-color);
}

.filter-button i{ /* this are for the icon "i" of the button*/
    font-size: 22px;
    margin-right: 10px;
}

.searchAndFilter-subText{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

.searchAndFilter-subText i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 1px solid var(--main-bg-color);
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;

}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 33px;
    margin-bottom: 33px;

}

.hebergements-cards a{
    width: 30%;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    height:200px;
}

.hebergements-cards img{
    width: 100%;
    height:60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content{
    padding-left:10px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 6px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
    margin-top: 0px;;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activites{
    padding:30px;
}

.activites-cards{
    display: flex;

    margin-top: 30px;
    gap: 30px;
}
.activites-cards a{
    width: 25%;
}

.activites-cards .card{
    padding:0;
    padding-bottom: 10px;;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards .card-title{
    margin-left:15px;
}

/****** Footer ***********/

footer{
    display: flex;
    flex-direction: row;
}

.footerMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    width:33%;
    padding: 20px;
    gap:15px;
}

.footerMenu-title{
    margin:0;
}

.footerMenu-item{
    margin:0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-buttonZone{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .activites-cards .card img{
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        min-width: 320px;
    }
    
    .main-container{
        padding: 0;
    }

    /****** Nav ***********/

    header.container{
        display: flex;
        flex-direction: column;  /* change flex direction so that the links are below logo in mobile screen*/
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding: 0
    }

    nav {
        gap:0;
        width:100%;
        margin-top:25px;
    }

    .nav-link{
        width: 100%;
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px var(--main-bg-color) solid;
    }
    
    .nav-link:hover{
        border-bottom: 2px var(--main-color) solid;
        color: var(--main-color);
        border-top: none;
    }

    /****** searchAndFilter ***********/
    
    .searchAndFilter{
       padding: 0 15px;
    }
    
    /* this is for the search bar to take the full available length of the mobile screen*/
    #searchInput{
        width: 100%;
    }

    .searchBar-button{
        margin-left: -15px; /*-*-*-*----> allow for the input field border to meet the top of the button */
        border-radius: 15px 15px 15px 15px;     /* to change the border radius of the button on small screen */
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    /* to make sure that the magnifying glass appear on small screen and the word "rechercher" desapear*/
    .fa-magnifying-glass{
        display: inline-block;
        color:white;
    }

    .searchBar-button--wordRechercher{
        display: none;
    }

    /* this is for the filter button to appear on 2 rows  in mobile mode*/
    .filter-buttonZone{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
    }

    .filter-button{
        width: 48%;
    }

    /* this is to reduce the size of the filter text*/
    .filter-button--text{
        font-size: 14px;
        font-weight: 700;
        margin:0;
    }

    /* this is to change the order between populaire and hebergement section*/
    .hebergements-and-populaires{
        flex-direction: column-reverse; 
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px;
    }

    /***** Hebergements section *****/

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards a{
        width: 100%;
    }

    /***** Populaire section *****/

    .populaires{
        padding: 0;
        border-radius: 0;
        margin:0;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /****** Activite ***********/

    .activites-cards{
        display: flex;
        flex-direction: column;
    }

    .activites-cards a{
        width: 100%;
    }

    .activites-cards .card img{
        height: 141px;
    }

    /****** Footer ***********/

    footer.container{
        flex-direction: column;
        padding: 0;
    }

    .footerMenu{
        width: 100%;
    }

}