/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** navigation ***********/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
    padding: 0 50px;
}

.navLogo {
    width: 61.9px;
    padding: 30px 0px 30px 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.linkMenu{
    padding-top: 20px;
    margin: 0px 0px 0px 68px;
}

.linkMenu:hover{
    border-top: 2px var(--main-color) solid;
}

/****** searchAndFilter ***********/

.searchAndFilter{
    margin-bottom: 35px;
}

.textAboveSearchBar{
    margin-bottom: 35px;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
    height: 45px;
    border-radius: 15px 15px 15px 15px;
}

.searchBar_IconBox{
    background-color: var(--main-bg-color);
    height: inherit;
    width: 50px;
    border: 2px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input{
    height: inherit;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    font-weight: 600;
    color: black;
    text-align: center;
}

.searchBar_Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;    
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    font-weight: 600;
    padding: 0px 16px 0px 16px;
    box-sizing: content-box; /*to ensure that the border will aligned with the input field and the icon box border*/
}

.magnifyingGlass{
    display: none;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
}

.filterButton-text{
    font-size: 16px;
    font-weight: 700;
    margin:0;
}

.filterButtonZone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.filterButton{
    padding: 4px 19px 4px 19px;
    height: 38px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
}

.filterButton:hover{
    background-color: var(--filter-bg-color);
}

.filterButton i{ /* this are for the icon "i" of the button*/
    font-size: 22px;
    margin-right: 10px;
}

.textUnderFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.textUnderFilter i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--main-bg-color);
    font-size: 12px;
    padding:5px;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}


.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    height:200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.hebergements-cards img{
    width: 100%;
    height:60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content{
    padding-left:10px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 6px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
    margin-top: 0px;;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.subSection-title{

    margin-right:15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    /* Filter */

    .filter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        margin:0;
    }
    
    .main-container{
        padding: 0;
    }


    /****** Nav ***********/
    nav{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;  /* change flex direction so that the links are below logo in mobile screen*/
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .menu{
        width: 100%;
    }

    .linkMenu{
        padding-bottom: 20px;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px var(--main-bg-color) solid;
    }
    
    .linkMenu:hover{
        border-bottom: 2px var(--main-color) solid;
        border-top: none;

    }

    /****** searchAndFilter ***********/
    

    .searchAndFilter{
       padding: 0 15px;
    }

    .searchBar{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    /* this is for the search bar to take the full available length of the mobile screen*/
    .searchBar input{
        width: 100%;
    }

    .searchBar_Button{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    /* this is for the filter button to appear in a nice 2 by 2 grid in mobile mode*/
    .filterButtonZone{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*this it to reduce the gap between the filter button using a smaller margin as well as add a bottom margin for space betwen 1st and 2nd line of filter*/

    .filterButton{
        margin-right:10px;
        margin-bottom: 20px;
    }

    /* this is to reduce the size of the filter text*/
    .filterButton-text{
        font-size: 14px;
        font-weight: 700;
        margin:0;
    }

    /* to make sure that the magnifying glass appear on small screen and the word "rechercher" desapear*/
    .magnifyingGlass{
        display: flex;
    }
    .wordRechercher{
        display: none;
    }
    /* to change the border radius of the button on small screen */
    .searchBar_Button{
        border-radius: 15px 15px 15px 15px;
    }

    /* this is to change the order between populaire and hebergement section*/
    .hebergements-and-populaires{
        flex-direction: column-reverse; 
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px;
        box-sizing: border-box;
    }

    /***** Hebergements section *****/

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-cards{
        display: grid;
        grid-template-columns: 1fr;
    }

    /***** Populaire section *****/

    .populaires{
        padding: 0;
        border-radius: 0;
        margin:0;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        
    }
    .populaires-cards a {
        width: 100%;
    }

}